---
layout: default
title: Home
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
	</head>
	<body>
		<h1>{{ "Miguel Carrizosa" | downcase }}</h1>
	</body>
</html>
